@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
}

header{
	background-color: #B93AEA;
}

.mi_marco{
	border-radius: 45%;
	width: 200px;
	margin-left: 55%;
}

.cabecera{
	color:snow;
	text-align: center;
	display: inline-block;
	width: 600px;
	text-align: center;
	font-weight: bold;
}

.descripcion{
	text-align: center;
	padding: 12px;
	background-color: #0083FF;
}

.informacion{
	width: 960px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
}

h3{
	font-size: 30px;
	font-weight: bold;
}

.certs{
	display: inline-block;
	width: 300px;
}

a{
	font-size: 20px;
	padding: 7px;
	margin-right: 25px;
}

#github_id{
	color:black;
	margin-right: 10px;
}

#gitlab_id{
	color:orange;
	margin-right: 10px;
}

#youtube_id{
	color:red;
	margin-right: 10px;
}

#udemy_id{
	color:black;
	margin-right: 10px;
}

.text_a{
	color:black;
	font-weight: bold;
	text-decoration: none;
}